fastapi
uvicorn
websockets
pydantic
google-generativeai
python-dotenv
tensorflow
joblib
librosa
soundfile
pydub
av
opencv-python
numpy
scikit-learn
gtts
edge-tts
sqlalchemy
passlib[bcrypt]
bcrypt
python-jose[cryptography]
python-multipart
google-auth
